{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for book in user.books_read %}

        <li class="list-group-item">
          <a href="/books/{{ book.id }}" class="book-link"></a>
          <!-- Add reference link to book, not to user -->
          <a href="/users/{{ user.id }}">
            <img src="{{ book.bookimag_url }}" class="timeline-image">
          </a>

          <div class="book-area">
            <p>{{ book.booktitle }}</p>
          </div>
        </li>

      {% endfor %}

    </ul>
  </div>
{% endblock %}